/* Site Wide Styles */
body {
  font-family: "Source Sans Pro", Sans-Serif;
  font-size: 17px;
  background-color: #d14738;
}

h1 {
  font-family: "Playfair Display", Serif;
  font-size: 80px;
  line-height: 70px;
  text-align: center;
}

/* Header */
.jumbotron {
  background-color: transparent;
  padding-bottom: 35px;
}

h1 #firstLine {
  font-weight: 800;
  color: #fff;
  text-shadow: -2px 2px 1px #87342e;
  text-transform: uppercase;
}

h1 #secondLine {
  color: #87342e;
  font-family: "Source Sans Pro", Sans-Serif;
  text-transform: lowercase;
  font-weight: 800;
  font-size: 70px;
}

hr.darkRed {
  width: 50%;
  border-top: 1px solid #87342e;
  margin-bottom: 30px;
}

hr.gold {
  width: 75%;
  border-top: 1px solid #eaac33;
  margin-bottom: 30px;
}

h2 {
  font-family: "Playfair Display", Serif;
  text-align: center;
  font-size: 200px;
  line-height: 120px;
  margin-top: 50px;
  color: #eaac33;
  text-shadow: -2px 2px 1px #87342e;
}

/* Form Section */
input.form-control {
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 26px;
  font-weight: 700;
  color: #5991cb;
  text-align: center;
}
input.form-control:active {
  color: #87342e;
}
input.form-control::placeholder {
  color: #5990cb2c;
}

input#number {
  margin-bottom: 25px;
}

.btn.btn-dark {
  width: 100%;
  padding: 10px;
  background-color: #87342e;
  border-color: #87342e;
  color: #d14738;
  font-size: 25px;
  font-weight: 1000;
  text-transform: uppercase;
}

/* Main Content: Printed numberArray  */
#output {
  padding-top: 50px;
}

.goldButton {
  margin-top: 50px;
}

#output h3 {
  font-family: "Playfair Display", Serif;
  font-size: 36px;
  text-align: center;
  color: #eaac33;
  text-shadow: -2px 2px 1px #87342e;
}

#output p {
  text-align: center;
  margin-bottom: 30px;
  color: #87342e;
}

#output ul {
  list-style-type: none;
  margin-left: 0px;
  display: box;
  height: 100%;
}

#output ul li {
  display: box;
  float: left;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 30px;
  margin-right: 5px;
}

span.numberItem {
  padding: 10px 15px 10px 15px;
  margin-right: 0px;
}

#output ul li:nth-child(odd) span.numberItem {
  background-color: #d14738;
  border: 1px solid #87342e;
  color: #87342e;
}
#output ul li:nth-child(even) span.numberItem {
  background-color: #87342e;
  color: #d14738;
}

#output ul li span.numberItem:hover {
  background-color: #fff;
}
